<div class="credit-card-input-container">
  <div class="input-container">
    @switch (creditCardNumber[0]) {
      @case ('3') {
        <i class="fab fa-cc-amex"></i>
      }
      @case ('4') {
        <i class="fab fa-cc-visa"></i>
      }
      @case ('5') {
        <i class="fab fa-cc-mastercard"></i>
      }
      @case ('6') {
        <i class="fab fa-cc-discover"></i>
      }
      @default {
        <i class="fas fa-credit-card"></i>
      }
    }

    <input type="text" [(ngModel)]="creditCardNumber" required maxlength="16" [readonly]="isReadonly">
  </div>
</div>
