<div class="social-media-bar-container">
  @for (media of socialMedia; track media) {
    @switch (media.type) {
      @case (SocialMedia.Facebook) {
        <a [href]="media.href" target="blank" class="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      }
      @case (SocialMedia.Instagram) {
        <a [href]="media.href" target="blank" class="instagram">
          <i class="fab fa-instagram"></i>
        </a>
      }
      @case (SocialMedia.LinkedIn) {
        <a [href]="media.href" target="blank" class="linked-in">
          <i class="fab fa-linkedin-in"></i>
        </a>
      }
      @case (SocialMedia.Twitter) {
        <a [href]="media.href" target="blank" class="twitter">
          <i class="fab fa-twitter"></i>
        </a>
      }
      @case (SocialMedia.YouTube) {
        <a [href]="media.href" target="blank" class="you-tube">
          <i class="fab fa-youtube"></i>
        </a>
      }
    }
  }
</div>
