<div class="password-container">
  <div class="password">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" #passwordInput="ngModel">
  </div>

  <div class="password-strength">
    <progress [value]="passwordStrengthPercent" [max]="100"></progress>
  </div>

  @if (passwordInput.touched) {
    <div class="password-hints">
      <ul>
        @if (!is8CharactersOrGreater) {
          <li>Min Length of 8 Required.</li>
        }
        @if (!hasOneCapitalLetterOrMore) {
          <li>One or More Capital Letter Required.</li>
        }
        @if (!hasOneNumberOrMore) {
          <li>One or More Number Required.</li>
        }
        @if (!hasOneSpecialCharacterOrMore) {
          <li>One or More Special Characters Required.</li>
        }
      </ul>
    </div>
  }
</div>
