<!-- TODO: previous code that di memory leak -->

<!-- @for (star of fullStars; track star) {
<i class="fas fa-star"></i>
} @if (hasHalfStar) {
<i class="fas fa-star-half-alt"></i>
} @for (star of emptyStars; track star) {
<i class="far fa-star"></i>
} -->

<div class="star-rating">
  <i
    *ngFor="let star of stars; trackBy: trackByStar"
    [class]="getStarClass(star)"
    (click)="setRating(star.value)"
    (mouseenter)="hoverRating = star.value"
    (mouseleave)="hoverRating = 0"
  >
  </i>
</div>
